@delhivery:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
engine-strict=true
@foxtrotplatform:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
engine-strict=true