ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.nav-link{
    text-decoration: none;

}

.nav-bar{
    margin: 0;
    height: 4rem;
    background-color: rgb(8, 73, 129);
}

.nav-content{
    display: flex;
    position: relative;
}

.nav-list{
    background-color: aqua;
    flex-direction: column;
    padding: 1rem 1rem 1rem 1rem;
    margin-top: 0.5rem;
    margin-right: 2rem;
    margin-left: 1rem;
    position: relative;
    display: inline;
}